#navigation {
  background-color: #f5f5f5;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 15px
}

#navigation  li{
  list-style: none;
  margin: auto 80px;
}


#navigation li a {
  font-size: 20px;
  padding: 20px;
  color: darkgrey;
  text-decoration: none;
}

#navigation li {
  position: relative;
}

#navigation li ul {
  display: none;
  position: absolute;
  margin-top: 10px;
  width: 180px;
  background-color: #f5f5f5;
  padding-left: 0;
}

#navigation li:hover >ul {
  display: block
}

#navigation li ul li {
  margin: 0 auto;
  padding: 20px;
}

#navigation li ul li:nth-child(n+2) {
  border-top: 1px solid white;
}